.title{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.loginmenu{
    border: 1px solid #eaeaea;
    height: 242px;
    padding: 30px;
}
.loginbar{
    position: relative;
    left:60px; top:-15px;
}
.form-group{
    width: 300px;   
    margin:20px;
}


